// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// Variables and Colours
@import "styles/variables-colors";

// Import Base & Modules
@import "../../node_modules/@getbase/animations/scss/index";
@import "../../node_modules/@getbase/base/scss/index";
@import "../../node_modules/@getbase/buttons/scss/index";
@import "../../node_modules/@getbase/containers/scss/index";
@import "../../node_modules/@getbase/forms/scss/index";
@import "../../node_modules/@getbase/grid/scss/index";
// @import "../../node_modules/@getbase/micro-grid/scss/index";
@import "../../node_modules/@getbase/tables/scss/index";
@import "../../node_modules/@getbase/typography/scss/index";

// Overall Styles
@import "styles/header";
@import "styles/footer";

// Base Typography and Layout Helpers
@import "../../node_modules/@getbase/typography-helpers/scss/index";
@import "../../node_modules/@getbase/layout-helpers/scss/index";
@import "../../node_modules/@getbase/layout-spacers/scss/index";

@import "../../node_modules/vegas/src/sass/vegas";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,70";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

header {
    min-height: 90%;
    h1 {
        color: $base-background-color;
        line-height: 100px;
        font-size: 60px;
    }
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
}

#map {
    min-height: 400px;
}

footer {
    .container {

    }
    p {
        margin-bottom: 10px;
    }
    img {
        max-width: 200px;
    }
}

.backgroundcolor {
    background-color: rgba($color: $base-background-color, $alpha: 0.8)
}